h2{
    text-align: center;
}
.card{
    display: grid;
    justify-content: space-around;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(auto-fit,minmax(115px, 300px ));
    grid-gap: 20px;
}




.icard{
    background-color: rgba(0, 0, 0, 0.153);
    width: 300px;
    height: 130px;
    display: flex;
}

.image{
    margin:15px 5px 5px 5px;
    width: 35%;

}

.content{
   margin: 0px 5px;
    display: flex;
    flex-direction: column;
}
.name{
    margin-top: 6px;
    margin-bottom: 10px;
}
.mainc{
    display: flex;
    background-color: grey;
    margin: 10px 5px 0px 0px;
    padding: 2px 0px 2px 10px;
}